* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-bottom: 1px solid black;
  height: 80px;
}

.header > a {
  text-decoration: none;
}
.header > a:visited, a:active {
  color: black;
}

img {
  width: 100%;
}