* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-bottom: 1px solid black;
}

img {
  width: 100%;
}